<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Main Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="max-width: 420px; margin: 40px auto;">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="text-align:center;">Manage Astronomy FAQ Database</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Database Name</ion-label>
          <ion-input [(ngModel)]="dbname" [disabled]="isDbCreated"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Collection Name</ion-label>
          <ion-input [(ngModel)]="colname" [disabled]="isDbCreated"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="create()" [disabled]="isDbCreated">
          Create Database and Collection
        </ion-button>
        <ion-button expand="block" (click)="batchLoad()" [disabled]="!isDbCreated">
          Load Items
        </ion-button>
        <ion-button color="danger" expand="block" (click)="deleteAllItems()" [disabled]="!isDbCreated">
          Delete All Items
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>